# Using Python and Wikidata to identify and compare the heights of various world leaders

Import the library which we will use. 

You may need to run 'pip install mkwikidata' first

In [52]:
import mkwikidata

We have created and tested our query on the Wikidata Query interface and copied the SPARQL code below. See https://w.wiki/4ugN

In [53]:
query = """
SELECT DISTINCT ?leader ?leaderLabel ?height WHERE {
  VALUES ?o {
    wd:Q48352
    wd:Q2285706
  }
  ?leader wdt:P21 wd:Q6581097;
    wdt:P39 ?position.
  ?position wdt:P279 ?o.
  ?leader wdt:P2048 ?height.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
ORDER BY DESC (?height)
LIMIT 55
"""

Run the query

In [54]:
query_result = mkwikidata.run_query(query, params={ })

What does the query output?

In [59]:
query_result

What type of object do we have?

In [60]:
print(type(query_result))

We can extract the data to a list

In [57]:
data = [{"name" : x["leaderLabel"]["value"], "height" : int(x["height"]["value"])} for x in query_result["results"]["bindings"]]

In [61]:
print (data)

If we want, we can stick the data in a data frame and plot it

In [50]:
import pandas as pd
pd.DataFrame(data).set_index("name").head(10).plot.barh().invert_yaxis()

And we can look at the full data frame

In [51]:
pd.DataFrame(data).set_index("name")

### But who is the tallest of our challenge?

Let's create a list of our 'targets'

In [25]:
our_leaders = ['Robert Mugabe', 'Vladimir Putin','Vladimir Lenin', 'Adolf Hitler','Joseph Stalin']

Then we can iterate over our dictionary query results, looking to see if they are in our list. If they match, compare their height. Each time we find one who is taller update the name and height.

In [46]:
max_leader = ""
max_height = 0

for x in query_result["results"]["bindings"]:
    if x["leaderLabel"]["value"] in our_leaders:
        if int(x["height"]["value"]) > max_height:
            max_height = int(x["height"]["value"])
            max_leader = x["leaderLabel"]["value"]

Print out our result

In [ ]:
print("The tallest leader is " + max_leader + ", who is "+ str(max_height) + "cm tall.")